@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #317647;
}

.btn-bg-primary {
    background-color: var(--primary-color);
    cursor: pointer;
}

.bg-primary {
    background-color: var(--primary-color);
}

.color-primary {
    color: var(--primary-color);
}